<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.com">
<head>
<meta charset="UTF-8">
<title>Category List</title>
</head>
<body>
<table>
		<thead>
		<th>ID</th>
		<th>NAME</th>
		<th>SETTINGS</th>
		</thead>
		<tbody>
		<tr th:each="cat : ${categories}">
		<td th:text="${cat.id}"></td>
		<td th:text="${cat.name}"></td>
		<td>
		<a th:href="@{/category/edit/} + ${cat.id}">Edit</a> |
		<a th:href="@{/category/delete/} + ${cat.id}">Delete</a>
		</td>
		</tr>
		</tbody>
	</table>
</body>
</html>
